# =====================================
# Python
# =====================================

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# =====================================
# Virtual Environment
# =====================================

venv/
env/
.venv/

# =====================================
# Environment Variables
# =====================================

.env

# =====================================
# Django
# =====================================

db.sqlite3
media/

# =====================================
# IDE
# =====================================

.vscode/
.idea/
*.swp

# =====================================
# OS Files
# =====================================

.DS_Store
Thumbs.db

# =====================================
# Pytest / Coverage
# =====================================

.pytest_cache/
.coverage
htmlcov/

# =====================================
# Migrations (optional)
# =====================================
# Uncomment below if you don't want to track migrations
# */migrations/*
# !*/migrations/__init__.py