<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Student Management</title>
</head>

<body>
    <header class="heading"> Welcome User </header>
    <main class="btns">
        <a href="{% url 'register'%}"><button id="reg" class="submit">Register</button></a>
        <a href="{% url 'login' %}"><button id="log" class="submit">Login</button></a>
    </main>
</body>

</html>